body {
  /* 기본(공통) 스타일 */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #6f6f6f;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 940px; /* 반응형 = max-width */
  margin: 0 auto; /* 가로 너비를 가진 블록 가운데 정렬 */
  position: relative; /* inner 기준 내부를 absolute 배치하기 위해 */
}

img {
  display: block;
}

header {
  border-bottom: 2px solid #ba000c;
  width: 100%; /* 가로 너비를 지정하지 않으면 최소한으로 줄어드려고함 */
  position: relative;
  top: 0;
  left: 0;
}
header > .inner {
  /* background-color: orange; */
  height: 110px;
}

header .logo {
width: 66px;
position: absolute;
height: 75px;
top: 17px;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
z-index: 3;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

header .sub-menu ul {
  display: flex;
  font-family: Arial, sans-serif;
}

header .sub-menu ul.menu-right li a {
  display: block; /* 상하 여백 적용을 위해 변경 */
  padding: 5px 5px; /* 클릭할 수 있는 영역을 넓혀주는 효과 */
  font-size: 11px;
  color: #6f6f6f;
}
header .sub-menu ul.menu-left li {
  display: flex;
}
header .sub-menu ul.menu-left li a {
  display: block;
  padding: 3px 3px;
  font-size: 13px;
  font-weight: 700;
}
header .sub-menu ul.menu-left li a.red {
  color: #ba000c;
}
header .sub-menu ul.menu-left li a.black {
  color: black;
}

header .cover{
  width: 100%;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

header .cover .item__contents{
  background-color: #302e2e;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.5s;
  z-index: 3;
}

header > .cover .menu_nav:hover .item__contents {
  height: 255px;
}

header .cover .menu_nav .main-menu {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 5;
}

header .cover .menu_nav .main-menu .item {
  position: relative;
  text-align: center;
  padding: 5px 30px;
}

header .cover .menu_nav .main-menu .item a {
font-size: 20px;
font-weight: 800;
color: black;
}

header .cover .menu_nav .main-menu .secon {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
  z-index: 5;
  padding: 10px 0 0 0;
}

header .cover .menu_nav .main-menu:hover .secon {
  height: 255px;
}

header .cover .menu_nav .main-menu:hover .secon {
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
}

/* 전역 배지(고정 배너) */
header .badges {
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: 500px;
  z-index: 5;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px ;
  /* x축거리, y축거리, 흐림 처리(blur) 범위, 확대/축소(spread) 범위, 색상 */
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* PROMOTION */
.swiper {
  height: 480px;
  justify-content: center; /* 슬라이드 수평 가운데 정렬 */
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.promotion .swiper-pagination {
  position: absolute;
  bottom: 40px;
  z-index: 1;
}

/* MAIN DESIGN */
.main-design {
  width: 940px;
  height: 300px;
  /* background-color: cornflowerblue; */
  margin: 0 auto;
  padding-top: 30px;
}

.main-design .main_list {
  display: flex;
}
.main-design .main_list ul img {
  padding: 10px;
}

.main-design .main_list .menu2 {
  width: 460px;
}

.main-design .main_list .menu2 .hollys_mall {
padding-bottom: 10px;
}

.main-design .main_list .menu2:nth-child(2) li a {
  text-align: center;
  padding: 0 20px;
}

.main-design .main_list .menu2:nth-child(2) li {
  display: flex;
  padding: 60px 0 0 0;
}

.main-design .main_list .menu2:nth-child(2) li a img {
  width: 85px;
  height: 75px;
}
.main-design .main_list .menu2:nth-child(2) li a {
  color: black;
  font-weight: 400;
  border-right: 1px dotted gray;
}
.main-design .main_list .menu2:nth-child(2) li a:last-child {
  border-right: none;
}

/* youtube */
.youtube {
  position: relative; /* 부모에 위치 기준 */
  height: 500px;
  background-color: #333;
  overflow: hidden; /* 영상 출력 넘치는 부분 숨기기 */

}
.youtube .youtube__area {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: calc(1920px / -2);
  margin-top: calc(1080px / -2);

  --width: 1920px;
  --height: 1080px;
  width: var(--width);
  height: var(--height);
  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--height) / -2);
}
#player {
  width: 100%;
  height: 100%;
}

/* MAIN DESIGN 2 */
.main-design2 {
  width: 940px;
  margin: 0 auto;
}

.main-design2 .main_list2 {
  display: flex;
  margin: 30px 0;
}

.main-design2 .main_list2 li {
  padding-right: 10px;
}

/* SNS */
.sns {
  width: 940px;
  height: 200px;
  margin: 0 auto;
}

.sns .menu-sns {
  display: flex;
  border-top: 2px solid #ba000c;
  padding-top: 40px;
}

/* FOOTER */
footer {
  background-color: #ba000c;
}
footer .inner .menu {
  display: flex;
  padding: 30px 0;
}
footer .inner .menu a {
  color: #faeff0;
  padding: 10px;
}

footer .inner .menu li::before {
  content: ""; /* 필수 속성 */
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  margin: 5px auto;
}

footer .inner .menu li:first-child a {
  padding-left: 0;
}

footer .inner .menu li:first-child::before {
  display: none;
}

footer p {
  color: #de898e;
}