body {
  /* 기본(공통) 스타일 */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #6f6f6f;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 940px; /* 반응형 = max-width */
  margin: 0 auto; /* 가로 너비를 가진 블록 가운데 정렬 */
  position: relative; /* inner 기준 내부를 absolute 배치하기 위해 */
}

img {
  display: block;
}

header {
  border-bottom: 2px solid #ba000c;
  width: 100%; /* 가로 너비를 지정하지 않으면 최소한으로 줄어드려고함 */
  position: fixed;
  top: 0;
}
header > .inner {
  background-color: orange;
  height: 148px;
}

header .logo {
width: 66px;
position: absolute;
height: 75px;
top: 17px;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

header .sub-menu ul {
  display: flex;
  font-family: Arial, sans-serif;
}

header .sub-menu ul.menu-right li a {
  display: block; /* 상하 여백 적용을 위해 변경 */
  padding: 5px 5px; /* 클릭할 수 있는 영역을 넓혀주는 효과 */
  font-size: 11px;
  color: #6f6f6f;
}
header .sub-menu ul.menu-left li {
  display: flex;
}
header .sub-menu ul.menu-left li a {
  display: block;
  padding: 1px 1px;
  font-size: 11px;
  font-weight: 700;
}
header .sub-menu ul.menu-left li a.red {
  color: #ba000c;
}
header .sub-menu ul.menu-left li a.black {
  color: black;
}

header .full_cover{
  width: 100%;
  position: relative;
  background-color: beige;
}

header .full_cover .nav_bg{
  background-color: beige;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  transition: 1s;
  z-index: 3;
}

header > .cover .menu_nav:hover .item__contents {
  height: 255px;
}

header .cover .menu_nav .main-menu {
  display: flex;
  padding: 30px 0;
  width: 100%;
  justify-content: space-between;
}

header .cover .menu_nav .main-menu .item{
  position: relative;
  text-align: center;
}

header .cover .menu_nav .main-menu .inner{
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0;
  transition: 1s;
  overflow: hidden;
  z-index: 5;
}

header .cover .menu_nav .main-menu:hover .inner{
  height: 255px;
}